*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Montserrat,sans-serif;
}

body{
background:#faf9f7;
color:#222;
}

/* Header */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.logo{

display:flex;
align-items:center;
font-size:24px;
font-weight:bold;

}

.logo img{

width:45px;
margin-right:10px;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

text-decoration:none;
color:#222;
font-weight:600;
transition:.3s;

}

nav a:hover,
nav a.active{

color:#e94560;

}

/* Hero */

.hero{

text-align:center;

padding:100px 10%;

}

.tagline{

letter-spacing:6px;

font-size:14px;

color:#0f3460;

margin-bottom:15px;

}

.hero h1{

font-size:72px;

color:#0f3460;

margin-bottom:20px;

}

.garis{

width:80px;

height:4px;

background:#e94560;

margin:20px auto;

border-radius:20px;

}

.deskripsi{

max-width:900px;

margin:auto;

line-height:1.8;

font-size:18px;

color:#555;

}

/* Sosial */

.sosial{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin:50px 0;
}

.sosial a{
    display:flex;
    flex-direction:column;
    align-items:center;
    background:none;
    text-decoration:none;
    font-weight:600;
}

.sosial img{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-bottom:8px;
    transition:0.3s;
}

.sosial img:hover{
    transform:scale(1.1);
}
/* Team */

.team{

padding:80px 8%;

text-align:center;

}

.team h2{

font-size:42px;

margin-bottom:10px;

}

.subjudul{

color:#777;

margin-bottom:50px;

}

.team-box{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.avatar{

font-size:50px;

margin-bottom:20px;

}

.card h3{

margin-bottom:8px;

}

.card p{

color:#777;

}

/* Footer */

footer{

background:#1a1a2e;

padding:40px;

text-align:center;

color:white;

margin-top:60px;

}

footer p{

margin-top:10px;

color:#bbb;

}

/* Responsive */

@media(max-width:768px){

header{

flex-direction:column;

gap:15px;

}

.hero h1{

font-size:50px;

}

.deskripsi{

font-size:16px;

}

}.logo-img{
width:40px;
height:40px;
margin-right:10px;
}

.logo span{
font-weight:300;
color:#777;
}

/* NAVIGATION */
nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
text-decoration:none;
color:#333;
font-size:14px;
font-weight:500;
padding:8px 10px;
transition:0.3s;
}

nav ul li a:hover{
border-bottom:2px solid #000;
}

